.call-to-action {
    width: 100%;
    background-color: #4496db;
    height: 225px;
    color: white;
    padding: 2%;
    margin: 0;
    font-size: 13px;
}

.call-to-action .content {
    width: 1220px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.call-to-action .content div {
    text-align: center;
}

.call-to-action .content div .image-block {
    width: 55px;
    height: 55px;
    margin: 0 auto;
}

.call-to-action .content div .image-block .email {
    margin-top: 8px;
}

.call-to-action .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.call-to-action .info {
    margin-top: 5px;
}

.call-to-action .content-table {
    display: none;
}

/*------------------------------------------------------------------*/

@media(max-width: 1200px) {
    .call-to-action .content {
        width: 100%;
        padding: 15px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    .call-to-action {
        height: 225px;
    }

    .call-to-action .content {
        display: none;
    }

    .call-to-action .content-table {
        display: block;
        text-align: center;
    }

    .call-to-action .content-table td {
        width: 50%;
    }

    .call-to-action .content-table table {
        margin: 10px auto;
    }

    .call-to-action .content-table td .phone {
        margin: 0;
        width: 40px;
        height: 45px;
    }

    .call-to-action .content-table td .email {
        margin: 0;
        width: 55px;
        height: 45px;
    }

    .call-to-action .content-table td .location {
        margin: 0;
        width: 40px;
        height: 45px;
        margin-top: 15px;
    }

    .call-to-action .content-table td .facebook {
        margin: 0;
        width: 40px;
        height: 45px;
        margin-top: 15px;
    }

    .call-to-action .content-table td p {
        font-size: 10px;
        margin: 0;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 500px) {
    .call-to-action .content-table table {
        margin: 30px auto;
    }

    .call-to-action .content-table td .phone {
        margin: 0;
        width: 30px;
        height: 35px;
    }

    .call-to-action .content-table td .email {
        margin: 0;
        width: 45px;
        height: 35px;
    }

    .call-to-action .content-table td .location {
        margin: 0;
        width: 30px;
        height: 35px;
        margin-top: 15px;
    }

    .call-to-action .content-table td .facebook {
        margin: 0;
        width: 30px;
        height: 35px;
        margin-top: 15px;
    }

    .call-to-action .content-table td p {
        font-size: 10px;
        margin: 0;
    }
}