.reg-course {
    width: 100%;
    background-color: #F7F7F7;
}

.reg-course .main-content {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.reg-course .left {
    margin-top: 40px;
}

.reg-course .left h1 {
    font-size: 34px;
}

.reg-course .right {
    margin-top: 150px;
}

.reg-course .left .content p {
    line-height: 1.5lh;
    width: 90%;
    margin: 0 auto;
}

.reg-course .right, .reg-course .left {
    width: 50%;
    margin-bottom: 35px;
}

.reg-course .right a {
    color: #7090c4;
}

.reg-course .right {
    text-align: center;
}

.reg-course .right h2 {
    font-size: 23px;
}

.reg-course .right .form {
    text-align: left;
}

.reg-course .right .form label {
    font-size: 16px;
}

.reg-course .right .form img {
    width: 10px;
}

.reg-course .left-head, .reg-course .right-head {
    font-weight: 600;
}

#name, #surname, #qa, #phone, #email {
    height: 3.5lh;
    width: 100%;
    padding-left: 15px;
    border-radius: 5px;
    border: none;
    outline: 1px solid lightgray;
}

#name:focus, #surname:focus, #qa:focus, #phone:focus, #email:focus {
    outline-color: #6fade9;
}

#name, #surname, #qa, #phone, #email, #agree {
    margin-bottom: 10px;
}

.submit {
    background-color: #3d78b7;
    border: none;
    border-radius: 25px;
    padding: 15px 100px;
    color: white;
}

.reg-course .left .content {
    width: 90%;
    margin-top: 40%;
    text-align: center;
}

/*------------------------------------------------------------------*/

@media(max-width: 1200px) {
    .reg-course .main-content {
        width: 100%;
        padding: 0;
    }

    .reg-course .right, .reg-course .left {
        width: 100%;
    }

    #name, #surname, #qa, #phone, #email {
        width: 90%;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1024px) {
    .reg-course .main-content {
        width: 100%;
        padding: 0;
        display: block;
        justify-content: none;
    }

    .reg-course .left {
        padding-top: 150px;
    }

    .reg-course .right {
        padding: 75px 0 35px 0;
    }

    .reg-course .right .form {
        width: 90%;
        margin: 0 auto;
    }

    .reg-course .right .form div {
        text-align: center;
    }

    .reg-course .right, .reg-course .left {
        width: 100%;
        margin: 0 auto;
    }

    #name, #surname, #qa, #phone, #email {
        height: 3lh;
        width: 100%;
    }

    .reg-course .right .form h2 {
        text-align: center;
    }
    
    .submit {
        width: 75%;
        padding: 15px 25px;
    }

    .reg-course .left .content {
        margin: 0 auto;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 600px) {
    .reg-course .left h1 {
        font-size: 25px;
    }

    .reg-course .left .content p {
        font-size: 15px;
        line-height: 1lh;
    }
}

/*-JS---------------------------------------------------------------*/

.error {
    outline-color: #f06767;
    box-shadow: inset 0 0 10px 1px #f06767;
    border: none;
}