.video {
    background-color: #F7F7F7;
    margin-top: 25px;
}

.video div {
    text-align: center;
    width: 1220px;
    padding: 15px;
    margin: 70px auto 50px auto;
}

.video h1 {
    margin-top: 25px;
}

.video iframe {
    width: 1020px;
    height: 500px;
    margin-bottom: 25px;
}

/*------------------------------------------------------------------*/

@media(max-width: 1220px) {
    .video div {
        width: 100%;
        padding: 15px;
    }

    .video iframe {
        width: 100%;
        height: 500px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .video iframe {
        width: 100%;
        height: 500px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    .video {
        width: 100%;
        padding: 0;
    }

    .video iframe {
        width: 100%;
        height: 400px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 500px) {
    .video {
        width: 100%;
        padding: 0;
    }

    .video iframe {
        width: 100%;
        height: 250px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 320px) {
    .video {
        width: 100%;
        padding: 0;
    }

    .video iframe {
        width: 100%;
        height: 175px;
    }
}