@import 'mixins.scss';

body, html {
    margin: 0;
    padding: 0;
}

body {
    @include block-display;
    overflow-y: scroll;
    background-color: $white;

    img {
        max-width: 100% !important;
        height: auto;
    }

    h1, h2, h3, h4, ul, ol {
        margin-top: 0px;
    }

    h1 {
        font-size: 32px;
        color: $h-main-color;
        font-weight: 500;
    }
    
    h2 {
        font-size: 25px;
        color: $h-main-color;
    }
    
    h3 {
        font-size: 20px;
        color: $h-main-color;
    }
    
    h4 {
        font-size: 18px;
        color: $h-main-color;
    }

    .container {
        @include block-content-display;
    }
}

* {
    box-sizing: border-box;
}

/*------------------------------------------------------------------*/

@media(max-width: 1220px) {
    body .container {
        @include block-display;

        padding: 0;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 500px) {
    body {
        h1 {
            font-size: 26px;
        }
        
        h2 {
            font-size: 19px;
        }
        
        h3 {
            font-size: 14px;
        }
        
        h4 {
            font-size: 12px;
        }
    }
}