@import 'variables.scss';

@mixin block-display {
    width: 100%;
}

@mixin block-content-display {
    width: $content-width;
    padding: $content-padding;
    margin: 0 auto;
}

@mixin flex-with-justify ($content) {
    display: flex;
    justify-content: $content;
}

@mixin a-style($color, $decoration) {
    color: $color;
    text-decoration: $decoration;
}

@mixin btn-style($width, $height, $bg-color, $border, $border-radius) {
    background-color: $bg-color;
    border: $border;
    border-radius: $border-radius;
    width: $width;
    height: $height;
    margin: 0 auto;
}