@import 'variables.scss';

@mixin block-display {
    width: 100%;
}

@mixin block-content-display {
    width: $content-width;
    padding: $content-padding;
    margin: 0 auto;
}

@mixin flex-with-justify ($content) {
    display: flex;
    justify-content: $content;
}

@mixin a-style($color, $decoration) {
    color: $color;
    text-decoration: $decoration;
}

@mixin btn-style($width, $height, $bg-color, $border, $border-radius) {
    background-color: $bg-color;
    border: $border;
    border-radius: $border-radius;
    width: $width;
    height: $height;
    margin: 0 auto;
}

@mixin slider-dots-style {
    button {
        display: block;
        width: 13px;
        height: 13px;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: $light-gray;
        text-indent: -9999px;
    }
    
    li.slick-active button {
        background-color: $h2-second-color;
        width: 13px;
        height: 13px;
        margin: 0;
    }
}