// Colors
$second-background-color: #F7F7F7;
$link-color-blue: #7090c4;
$second-main-color: #3d78b7;
$third-main-color: #4496db;
$h-main-color: #373436;
$h2-second-color: #606060;
$form-outline-color: #6fade9;
$form-error-color: #f06767;
$font-main-color: #737373;
$quote-color: #ccc;
$black: black;
$white: white;
$light-gray: lightgray;

// Position
$center-align: center;
$left-align: left;

// Size
$content-width: 1220px;
$content-padding: 15px;