@import '../global/mixins.scss';

.call-to-action {
    @include block-display;

    background-color: $third-main-color;
    height: 225px;
    color: white;
    padding: 2%;
    margin: 0;
    font-size: 13px;

    .content {
        @include block-content-display;
        @include space-between-align;

        margin: 0 auto;

        div {
            text-align: $center-align;

            a {
                text-decoration: none;
                color: $white;

                .image-block {
                    width: 55px;
                    height: 55px;
                    margin: 0 auto;

                    .email {
                        margin-top: 8px;
                    }
                }
            }
        }
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .info {
        margin-top: 5px;
    }

    .content-table {
        display: none;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1200px) {
    .call-to-action {
        .content {
            @include block-display;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    .call-to-action {
        height: 225px;

        .content {
            display: none;
        }

        .content-table {
            display: block;
            text-align: $center-align;

            table {
                margin: 10px auto;

                tr {
                    td {
                        width: 50%;

                        a {
                            text-decoration: none;
                            color: $white;

                            .phone {
                                margin: 0;
                                width: 40px;
                                height: 45px;
                            }
            
                            .email {
                                margin: 0;
                                width: 55px;
                                height: 45px;
                            }
            
                            .location {
                                margin: 0;
                                width: 40px;
                                height: 45px;
                                margin-top: 15px;
                            }
            
                            .facebook {
                                margin: 0;
                                width: 40px;
                                height: 45px;
                                margin-top: 15px;
                            }
            
                            p {
                                font-size: 10px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 500px) {
    .call-to-action {
        .content-table {
            table {
                margin: 30px auto;

                tr {
                    td {
                        a {
                            .phone {
                                margin: 0;
                                width: 30px;
                                height: 35px;
                            }
            
                            .email {
                                margin: 0;
                                width: 45px;
                                height: 35px;
                            }
            
                            .location {
                                margin: 0;
                                width: 30px;
                                height: 35px;
                                margin-top: 15px;
                            }
            
                            .facebook {
                                margin: 0;
                                width: 30px;
                                height: 35px;
                                margin-top: 15px;
                            }
            
                            p {
                                font-size: 10px;
                                margin: 0;
                            }   
                        }
                    }
                }
            }
        }
    }
}