footer {
    width: 1220px;
    padding: 15px;
    text-align: center;
    margin: 15px auto;
    font-size: 15px;

    .footer {
        a {
            color: #7090c4;
            text-decoration: none;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1220px) {
    footer {
        width: 100%;
        padding: 0;
    }
}