@import '../global/mixins.scss';

footer {
    @include block-display;
    
    text-align: $center-align;
    font-size: 15px;

    .footer {
        @include block-content-display;
        
        margin: 15px auto;

        a {
            color: $link-color-blue;
            text-decoration: none;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1220px) {
    footer {
        .footer {
            @include block-display;
        }
    }
}