@import '../global/mixins.scss';

footer {
    @include block-display;
    
    text-align: $center-align;
    font-size: 15px;

    .container {
        @include block-content-display;
        
        margin: 15px auto;

        .copyright a {
            @include a-style($link-color-blue, none);
        }

        .politics a {
            @include a-style($h2-second-color, none);
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1220px) {
    footer .container {
        @include block-display;
    }
}