@import '../global/mixins.scss';

#mentors {
    @include block-display;

    .container {
        @include block-content-display;

        text-align: $center-align;
        margin: 0 auto;

        .head {
            font-size: 35px;
        }
    
        .mentors-slider {
            text-align: $center-align;
            position: relative;
            height: 465px;
    
            .slick-slide {
                text-align: $center-align;
                position: relative;
    
                .mentors-page {
                    @include flex-with-justify($center-align);
    
                    img {
                        height: 100%;
                    }
    
                    .name-and-about {
                        padding-left: 100px;
                        width: 65%;
    
                        .name {
                            color: $third-main-color;
                            font-weight: bold;
                            font-size: 22px;
                            text-align: left;
                        }
                
                        .about {
                            text-align: left;
                        }
                    }
                }
            }

            .slick-dots {
                @include slider-dots-style;       
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1200px) {
    #mentors .container {
        @include block-display;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #mentors .container .mentors-slider {
        height: 625px;
        
        .slick-slide .mentors-page {
            display: block;

            img {
                width: 200px;
                margin: 0 auto;
            }

            .name-and-about {
                padding-left: 0;
                width: 100%;

                .about, .name {
                    text-align: $center-align;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 868px) {
    #mentors .container .mentors-slider {
        height: 630px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 768px) {
    #mentors .container {
        @include block-display;
        
        .mentors-slider {
            height: 700px;

            .slick-slide .mentors-page {
                display: block;

                img {
                    width: 200px;
                    margin: 0 auto;
                }
    
                .name-and-about {
                    padding-left: 0;
                    width: 100%;

                    .about, .name {
                        text-align: $center-align;
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 525px) {
    #mentors .container .mentors-slider {
        height: 800px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 450px) {
    #mentors .container .mentors-slider {
        height: 850px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 400px) {
    #mentors .container .mentors-slider {
        height: 900px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 370px) {
    #mentors .container .mentors-slider {
        height: 1000px;
    }
}